@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>My Home Library</h1>
    <p class="text-center">By Charinda & Tanner</p>

</div>

<h4 class="text-left">What's on our shelf?</h4>
<div class="whatIsSMS">
    <h5 class="text-left">
        We collect books      
    </h5>
    <h6 class="text-left">
        ...but during Covid Lockdown, everything just sits on the shelf and gathers dust...<br />
        We decided "Why not share what we've got?" <i>This</i> is what we've got!
    </h6>
</div>

<div class="stressedStudents">
    <img src="/Images/image-10.png">
    <img src="/Images/image-11.png">
    <img src="/Images/image-12.png">
    <img src="/Images/image-13.png">
    <img src="/Images/image-14.png">
</div>